body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.card {
  display: flex;
  flex-direction: column;
  width: 375px;
  background-color: hsl(0, 0%, 100%);
}
